body{background-image:url('cream_pixels.png');}
#main{
	text-align: center;
	position:absolute;
	width:590px;
	height:20px;
	z-index:15;
	top:25%;
	left:50%;
	margin:-10px 0 0 -268px;
}
#player{ 
	position:absolute;
	width:960px;
	height:540px;
	z-index:15;
	top:50%;
	left:50%;
	margin:-270px 0 0 -480px;
}